.image-switch-anim {
    animation: popIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes popIn {
    0% { transform: scale(0.95); opacity: 0.5; filter: blur(5px); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); opacity: 1; filter: blur(0); }
}

.float-anim {
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

.thumb-active {
    border-color: #44fe52 !important;
    transform: scale(1.1);
    box-shadow: 0 0 15px #44fe52;
}

