model-viewer {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    --poster-color: #1a1a1a;
}

.bg-grid-animate {
    background-size: 40px 40px;
    animation: scrollGrid 20s linear infinite;
}

@keyframes scrollGrid {
    0% { background-position: 0 0; }
    100% { background-position: 40px 40px; }
}

